html {
    background-color: #FAF7F2;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  
  .movie-details {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    justify-content: center;
  }
  
  .movie-details .title {
    text-align: center;
  }

  .btn {
    text-decoration: none;
    display: inline-block;
  border: none;
  background: #555;
  color:#fff;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 18px;

  }